.message-body{
    text-align: center;
    .title{
        color: black;
        font-weight: 300;
        margin-top: 1rem;
    }
    .message{
        color: black;
        font-weight: 300;
        margin-top: 1rem;
    }
}
